<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/plantilla}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Configuracion - Cuenta</title>
</head>

<body>
	<div layout:fragment="contenedorprincipal">
		<div class="page-inner">
			<div class="page-header d-none d-lg-flex align-items-center">
				<h3 class="fw-bold mb-3 me-3">Cuentas</h3>
				<ul class="breadcrumbs mb-3 d-flex m-0">
					<li class="nav-home">
						<a th:href="@{/}">
							<i class="icon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="icon-arrow-right"></i>
					</li>
					<li class="nav-item">
						Configuraci&oacute;n
					</li>
					<li class="separator">
						<i class="icon-arrow-right"></i>
					</li>
					<li class="nav-item">
						Cuentas
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">Cuentas</h4>

								<a th:href="@{/configuraciones/formulario-cuenta}"
									class="btn btn-primary btn-round ms-auto">
									<i class="fa fa-plus"></i>
									Nueva
								</a>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="add-row" class="display table table-striped table-hover">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Saldo</th>
											<th style="width: 10%">Acciones</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="cuenta: ${cuentas}">
											<td th:text="${cuenta.nombre}"></td>
											<td th:text="'$' + ${#numbers.formatDecimal(cuenta.saldo, 1, 'COMMA', 2, 'POINT')}"></td>
											<td>
												<div class="form-button-action">
													<a th:href="@{/configuraciones/cuenta/editar/}+${cuenta.codigo}" type="button" class="btn btn-link btn-primary"
														data-original-title="Editar cuenta">
														<i class="icon-pencil"></i>
													</a>
													<a th:href="@{/configuraciones/cuenta/eliminar/}+${cuenta.codigo}" type="button" class="btn btn-link btn-danger"
														data-original-title="Eliminar"
														onclick="return confirm('¿Estás seguro de que deseas eliminar esta cuenta?');">
														<i class="icon-trash"></i>
													</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>