<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/plantilla}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Formulario - Cuenta</title>
</head>

<body>
	<div layout:fragment="contenedorprincipal">
		<div class="card">
			<div class="card-header">
				<div class="card-title">Nueva cuenta</div>
			</div>
			<form th:action="@{/configuraciones/cuenta/guardar}" th:object="${nuevaCuenta}" method="post">
				<div class="card-body">
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="form-group">
								<label for="nombreCategoria">Nombre</label>
								<input type="text" th:field="*{nombre}" class="form-control" id="nombreCategoria"
									placeholder="Efectivo" />
							</div>
							<div class="form-group">
								<label for="valorIngreso">Saldo inicial</label>
								<div class="input-group mb-3">
									<span class="input-group-text">$</span>
									<input type="number" th:field="*{saldoInicial}" min="0"
										class="form-control" aria-label="Valor" id="saldoInicial" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-action">
					<button type="submit" class="btn btn-success">Guardar</button>
					<a th:href="@{/}" class="btn btn-danger">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>

</html>