<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/plantilla}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Mis cuentas</title>
</head>

<body>
	<div layout:fragment="contenedorprincipal">
		<div class="card">
			<form method="post" th:action="@{/transacciones/formulario/guardar}" th:object="${gasto}">
				<input type="hidden" th:field="*{codigo}" />
				<div class="card-header">
					<div class="card-title">Formulario gastos</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="form-group">
								<label for="fechaGasto">Fecha</label>
								<input type="date" th:field="*{fecha}" class="form-control" id="fechaGasto"
									placeholder="Detalle ingreso" />
							</div>
							<div class="form-group">
								<label for="categoriaGasto">*Categoria</label>
								<select class="form-select form-control" id="categoriaGasto" th:field="*{categoria}" required="true">
									<option value="" selected>Seleccione...</option>
									<option th:each="cat: ${categorias}" th:value="${cat.codigo}"
										th:text="${cat.nombre}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="valorGasto">Valor</label>
								<div class="input-group mb-3">
									<span class="input-group-text">$</span>
									<input type="number" min="0" max="100000000" step="0.01" class="form-control" aria-label="Valor"
										th:field="*{valor}" id="valorGasto" />
								</div>
							</div>
							<div class="form-group">
								<label for="cuentaGasto">*Cuenta</label>
								<select class="form-select form-control" id="cuentaGasto" th:field="*{cuenta}" required="true">
									<option th:each="cuenta: ${cuentas}" th:value="${cuenta.codigo}"
										th:text="${cuenta.nombre}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="detalleGasto">Detalles (Opcional)</label>
								<input type="text" class="form-control" id="detalleGasto" placeholder="Detalle gasto"
									th:field="*{detalles}" />
							</div>
						</div>
					</div>
				</div>
				<div class="card-action">
					<button type="submit" class="btn btn-success">Guardar</button>
					<a th:href="@{/transacciones/gastos}" class="btn btn-danger">Cancelar</a>
				</div>
			</form>
		</div>

	</div>

</body>

</html>